*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F7F7F9;
}
 body {
     background-color: #F7F7F9;
     font-family: Verdana;
 }

 h2 {
     width: 100%;
     padding: 15px;
     margin-bottom: 1vh;
     color: #2B2D42;
     height: 7vh;
 }

 .contenedor {
     width: 100%;
     display: grid;
     grid-template-columns: 200px;
     grid-template-rows: 30px;
     grid-template-areas: "header header header"
                          "menu contenido toolbar"
                          "menu contenido toolbar"
                          "menu contenido toolbar"
                          "menu footer footer";
    grid-gap: 10px;
    height: 92vh;
    padding:  0 15px;

 }

 .contenedor > * {
     background-color: #47a8bd;
     border-radius: 5px;
     padding: 10px;
 }

.cabecera {
    background-color: #F7E733;
    color: #2B2D42;
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.contenido {
    grid-area: contenido;
}

.toolbar {
    grid-area: toolbar; 
}

/* .cabecera, .pie-pagina {
}

.seccion, .barra-tarea {

}

.pie-pagina {

} */


/* Extra Small devices  (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .seccion, .barra-tarea {
        width: 100%;
        min-height: 200px;
        float: left;
    }

    .barra-tarea {
        float: left;
        min-height: 100px;
    }

    .pie-pagina {
        display: none;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

