*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F7F7F9;
}
 body {
     background-color: rgba(255,255,255,1);
     font-family: Verdana;
 }

 h2 {
     width: 100%;
     padding: 15px;
     margin-bottom: 1vh;
     color: #2B2D42;
     height: 7vh;
 }

 #Background {
    fill: rgba(29,53,87,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
 }

 /* .Background {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
 } */

 .barra {
    background-color: rgba(168,218,220,1)
 }
 .Background    {
     width: 100%;
     display: grid;
     grid-template-columns: 200px;
     grid-template-rows: 30px;
     grid-template-areas: "barra barra barra"
                          "espacio espacio espacio"
                          "contenido contenido contenido"
                          "contenido contenido contenido"
                          "contenido contenido contenido";
    grid-gap: 10px;
    height: 92vh;
    padding:  0 15px;
 }

 #Barra {
    fill: rgba(168,218,220,1);
    stroke: rgba(168,218,220,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Barra {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 105px;
    left: 0px;
    top: 0px;