@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Rubik', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(239, 118, 122, .8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EF767A;
}

.no-show {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.main-color {
    color: #7A72D5;
}

.completed {
    color: #49DCB1;
}

a.completed:hover {
    color: #49DCB1;
}

button.completed:hover {
    background-color: #49BEAA;
}

button.completed:focus {
    box-shadow: 0 0 0 0.2rem rgba(73,220,177,.25) !important;
}

.main-bg-color {
    background-color: #7A72D5 !important;
}

.shadow {
    box-shadow: rgba(22,22,22,.5) 0 3px 3px;
}

.scroll {
    overflow: auto;
}

.bg-1 {
    background-color: #7A72D5;
    height: 50vh;
}

.task-list {
    position: absolute;
    height: 90vh;
    width: 70%;
    top: 5vh;
    left: 15%;
    background-color: #fffffa;
    border-radius: 11px;
    box-shadow: rgba(22,22,22,.5) 0 3px 3px;
}

.task-list-title > h3 {
    text-transform: uppercase;
    text-align: center;
}

.task-list-content {
    height: 70vh;
}

.no-task {
    width: 100%;
    height: 400px;
    background-image: url("../images/no-task.svg");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.task {
    cursor: pointer;
}

.task:hover {
    background-color: #F5F5F5;
    transition: all .2s;
}

.task-container {
    display: grid;
    grid-template-areas: "titulo buton" "descripcion descripcion";
    grid-template-columns: 2fr 0.5fr;
}

.task-description {
    grid-area: descripcion;
    opacity: 0;
    max-height: 0px;
    transition: all 250ms;
}

.animacion-mostrar-descripcion {
    display: block;
    opacity: 1;
}

.animacion-ocultar-descripcion {
    display: none;
    opacity: 0;
    transition: all .2s;
}

.task-button {
    grid-area: buton;
    text-align: right !important; 
    font-size: 2rem !important;
}

@media only screen and (max-width: 600px) {
    .task-list {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        border-radius: 0;
    }

   .movil-mt-2 {
       margin-top: 0.5rem !important;
   }

}