body{
    margin: 0vh;
}

main {
    background-image: url(Imagenes/contact-us.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;    
}

#izquierda{
    font-size: 1.5vh;
    width: 37.5vh;
    line-height: 3.5vh;
    float: left;
    padding-left: 2.5vh;
    text-align: left;
}

#derecha{
    float: right;
    line-height: 2 px;
    padding-right: 3.5vh;
    padding-bottom: 3.5vh;
}

#titulo{
    padding-top: 15vh;
    font-family: sans-serif;
    font-size: 300%;
    text-align: center;
    color: tomato;
}

#cuerpo{
    padding-top: 5vh;
    font-family: sans-serif;
    font-size: 140%;
    text-align: center;
    color: tomato;
}

fieldset{
    width: 85vh;
    border-color: brown;
    margin: auto;
    background-color: white;
    border-radius: 2.5vh;
}

input{
    width: 37.5vh;
    height: 3.5vh;

    
}

textarea{
    resize: none;
    
}

h3{
    margin: auto;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

img{
    width: 2.5vh;
    height: 2.5vh;
    float: left;
    align-items: center;
}