*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F7F7F9;
}
 body {
     background-color: #474747;
     font-family: 'Roboto', sans-serif;
 }

#Background {
    fill: rgba(29,53,87,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
 }

 .menu{
    width: 100%;
    background-color: #2a3d54;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 80px;
}
 .menu:after{   
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 79px;
    left: calc(50% - 35px);
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    border-top: 34px solid #2a3d54;
 }
.nombre{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
}
.nombre h2{
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.tareas{
    width: 100%;
    height: 100%;
    display: flex;
    padding-right: 2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.tareas li{
    flex: 1 0 0;
    text-align: center;
}
.tareas li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

.contenedor {
    width: 100%;
    display: flex;
    height: 92vh;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
}

.contenedor > * {
    background-color: #2a3d54;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
}

.cuerpo {
    flex-basis: 50%;
    max-height: 100vh;
    position: relative;
    display: grid
}
.cuerpo:before {
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
    left: calc(50% - 35px);
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    border-top: 34px solid #474747;
}
.cuerpo:after {
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 0px;
    transform: rotate(180deg);
    left: calc(50% - 35px);
    border-left: 41px solid transparent;
    border-right: 41px solid transparent;
    border-top: 34px solid #474747;
}
.cuerpo{
    width: 90%;
    max-width: auto;
    margin: 100px auto;
    box-shadow: 0px 10px 40px -10px #474747;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;   
}
.izquierda{
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
    max-height: 75%;
}
.enlace{
    color: #FFFFFF;
    display: flex;
    flex-flow: row nowrap;
    width: 20%;
}
.caja{
    display: flex;
    flex-flow: row;
}
img.foto{
    width: 61%;
    height: 60%;
    margin: 1rem auto;
    border-radius: 5cm;
    display: flex;
    flex-flow: row;
}

img.icono{
    width: 10%;
    height: 10%;
    margin: 0.5rem;
    border-radius: 5cm;
    display: flex;
    flex-flow: row;
}

.derecha{
    display: flex;
    flex-flow: nowrap;
    padding: 1.5rem;
    max-height: 75%;
}
.datos{
        list-style: none;
        margin: 4.5rem auto;
}
.datos > li {
    line-height: 2rem;
    text-align: justify;
}

.datos > li > a {
    color: crimson;
}

.datos > p {
    padding-top: 2rem;
    text-align: justify;
}